<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div class="container formEvento">

    <form class="container" method="post">
        Nome: <input type="text" value="" name="nome"/>
        <div class="row">
            <div class="">
                Local: <input type="text" value="" name="local"/>
            </div>
            <div class="">
                Data: <input type="date" value="" name="data"/>
            </div>
            <div class="">
                Horario: <input type="time" value="" name="horario"/>
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Salvar</button>

    </form>
</div>

</body>


</html>